@import "../../globals.scss";

.feature-card{
    width: 250px;
    min-height: 170px;
    text-align: center; 
    background-color: white;
    border: 1px solid $mainColor;
    border-radius: 20px;
    padding: 10px 20px;

    h3{
        font-size: 22px;
        margin-bottom: 5px;
    }

    p{
        color: black;
        font-size: 1rem;
    }
}